#page{
    display: flex;
    margin: 0px;
    font-family: cursive;
}
.sidelist{
    margin: 2px;
    width: 120px;
    display: flex;
    flex-direction:column;
    position: relative;
    left:0px;
    transition: all .100s ease;
    border: border box ;
}
.sidelist span{
    border: 5px solid;
    padding: 5px;
}
.isHidden{
    position: absolute;
    left:-125px;
    transition: all .100s ease-in;
}
.navbar
{
    height: 90px;
    background-color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: black;
}
.logo
{
    position: absolute;    
    font-size: xx-small;
}