#page{
    display: flex;
}
.sidelist{
    margin: 2px;
    width: 90px;
    display: flex;
    flex-direction:column;
    position: relative;
    left:0px;
    transition: all .5s ease;
}
.sidelist span{
    border: 1px solid;
    padding: 5px;
}
.isHidden{
    position: absolute;
    left:-100px;
    transition: all .5s ease;
}