body {
  margin: 0;
  background-image :linear-gradient(#6ee0f5, #6457f0) ;
}

.topnav {
  overflow: hidden;
  background-color: #000;
  width: 100%;
  position: fixed;
  top: 0px;
}

#Signin {
  position: absolute;
  right: 5px;
}

.topnav a.active {
  background-color: #ddd;
  color: rgb(22, 1, 1);
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#home{
  background-image: url("EleghantERP.png");
  background-size: cover;
}

.contacting {
  display: flex;
  position: relative;
  bottom: 5px;
  left: 5px;
  gap: 15px;
}

.contacting a:hover {
  background-color: yellowgreen;
}

#footer {
  position: absolute;
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.header h2 {
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  position: fixed;
  top: 47px;
}

.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}

.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}
.scroller {
  max-width: 750px;
}

.scroller__inner {
  padding-block: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    180deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 10s)
    var(--_animation-direction, forwards) linear infinite;
}


.scroller[data-direction="right"] {
  --_animation-direction: fast;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 50s;
}


@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1.20rem;
  background-color: transparent;
  border:solid #8b76df33;
  border-radius: 1rem;
}

#contact {
  margin: 4em auto;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

#contact:hover {
  background: #000000;
}
#contact:active {
  background: #444;
}

#contactForm {
  display: none;

  border: 6px solid 3324be;
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 16px;
}

input, textarea {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 15px;
}
textarea {
  height: 80px;
  resize: none;
}
.formBtn {
  outline: 0;
  background: #3324be;
  width: 140px;
  height: 30px;
  border: 0;
  color: #ffffff;
  font-size: 1.2em;
  border-radius: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}